<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1>It's <%=whichDay%> today!</h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(newListItem) { %>
          <form class="formMain" action="/delete" method="POST">
            <div class="item">
                <input id="check" type="checkbox" name="checked">
                <p><%=  newListItem %></p>
              </div>
          </form>
        
        <% } %>
          <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New List Item" autocomplete="off">
            <button type="submit" name="button">+</button>
          </form>
    </div>
    <script>
      Document.getElement("check").addEventListener("click", function(){
        document.querySelector(".formMain").submit();
      });
    </script>
  </body>
</html>